:root{
  --main-color:#0f967f;
  font-family: 'Raleway', sans-serif;
}

#navBarMobile{
  display: none;
}

body{
  margin: 0;
  overflow-x: hidden;
  /*height:272vw;*/
}

header{
  height: 16.64vw;
  background-color: #0f967f;
}

header h1{
  margin: 0;
  margin-left: 0.71vw;
  margin-right: 0.5vw;
  font-size: 2vw;
  text-align-last: justify;
}

.login{
  color: white;
  position: absolute;
  float: right;
  width: 16.07vw;
  display: inline-block;
  margin-right: 1vw;
  margin-top: 1.07vw;
}

.logo{
  display: inline-block;
  position: relative;
  background-image: url('img/Logo.png');
  height: 11.07vw;
  width: 30vw;
  margin-left: 50vw;
  left: -15vw;
  margin-top: 2.5vw;
  background-size: 100% 100%;
}

header button{
  background-color: white;
  color:#0f967f;
  border-radius: 1vw;
  font-weight: bold;
  font-size: 2vw;
  margin-top: 1.77vw;
  height: 3.92vw;
  width: 100%;
}

header button:hover{
  color:white;
  background-color: #0f967f;
  border: 1px solid white;
}

#navBarDesktop{
  padding-left: 20.35%;
  padding-right: 20.35%;
  height: 3.92vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navBarDesktop a{
  color:#0f967f;
  text-decoration: none;
  font-weight: 900;
  font-size: 1.8vw;
}

a:hover{
  text-decoration: underline;
}

.sectionOne{
  height: 52.89vw;
  display: grid;
  grid-auto-rows: 1fr 1fr;
  grid-auto-columns: 1fr 1fr;
}

.sectionOne p {
  margin: 0;
}

.sectionOne div{
  color:white;
  font-size: 2vw;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  padding-bottom:4.23vw;
}

.picOne{
  background-image: url('img/mainImg/picOne.png');
  grid-row:1/2;
  grid-column: 1/2;
  background-size: 100% 100% ;
}

.picTwo{
  background-image: url('img/mainImg/picTwo.png');
  grid-row:1/2;
  grid-column: 2/3;
  background-size: 100% 100% ;
}

.picThree{
  background-image: url('img/mainImg/picThree.png');
  grid-row:2/3;
  grid-column: 1/2;
  margin-top: -1px;
  margin-right: -1px;
  background-size: 100% 100% ;
}

.picFour{
  background-image: url('img/mainImg/mainFour.png');
  grid-row:2/3;
  grid-column: 2/3;
  margin-top: -1px;
  margin-left: 1px;
  background-size: 100% 100% ;
}

.sectionRisk{
  color: white;
  font-size: 2.1vw;
  text-align: center;
  background-color: #0f967f;
  height: 26.17vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sectionRisk h1{
  line-height: 1.35;
  font-size: 3vw;
  margin: 0;
  margin-top:4.28vw;
}

.sectionRisk p{
  font-size: 1.5vw;
  margin: 0;
  margin-top: 3.22vw;
  padding-bottom: 10px;
}

.sectionRisk button{
  background-color: white;
  color:#0f967f;
  border-radius: 1vw;
  font-weight: bold;
  font-size: 2vw;
  height: 5vw;
  width: 24.07vw;
}

.sectionRisk button:hover{
  color:white;
  background-color: #0f967f;
  border: 1px solid white;
}

.sectionImageOnly{
  background-image: url('img/sectionGuyPic.png');
  height: 41.26vw;
  background-size: 100% 100%;
}

/*Inspired */

.sectionInspired{
  display: flex;
  justify-content: center;
  height: 43.79vw;
  border-bottom: 3.14vw solid #0f967f;
}

.claimGame{
  background-image: url('img/ClaimGame.png');
  height: 43.75vw;
  width: 38vw;
  margin-top: 1px;
  background-size: 100% 100%;
}

.inspired{
  color:#0f967f;
  width: 65vw;
  padding-left: 4.21vw;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.inspiredText{
  padding-right: 10vw;
  margin-bottom:3.3vw;
}

.inspiredText h1{
  margin: 0;
  margin-top: 7.43vw;
  margin-bottom: 2vw;
  font-size: 3vw;
  font-weight: 900;
}

.inspiredText p{
  line-height: 1.8;
  font-size: 1.5vw;
  margin: 0;
}

.twenty{
  display: flex;
  justify-content: center;
}

.imgTwenty{
  padding-top: 2.6vw;
  display: flex;
  justify-content: center;
}

.imgTwenty p{
  font-size: 0.9vw;
  font-weight: 400;
}

.buttonsTwenty{
  width: 35vw;
  padding-right: 3.57vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.buttonsTwenty button:hover{
  color:#0f967f;
  background-color: white;
  border: 1px solid #0f967f;
}

.btnOne{
  background-color: #0f967f;
  color:white;
  border-radius: 1vw;
  font-weight: bold;
  font-size: 2vw;
  height: 3.85vw;
  margin-bottom: 1.64vw;
  width: 15.86vw;
}
.btnTwo{
  background-color: #0f967f;
  color:white;
  border-radius: 1vw;
  font-weight: bold;
  font-size: 2vw;
  height: 3.85vw;
  width: 20.7vw;
}

.imgTwenty img{
  height: 3vw;
  width: 18vh;
}

/*inspired pain end*/

.sectionTags{
  height: 19vw;
}

.sectionTags h1{
  margin: 0;
  margin-top: 4.1vw;
  margin-bottom: 3.31vw;
  color: #0f967f;
  font-size: 3vw;
}

.tags{
  /*background-image: url('img/tags.png');
  background-size: 100% 100%;*/
  height: 6vw;
  display: flex;
  justify-content: center;

}

.tags div{
  transition: all .2s ease-in-out;
  opacity: 0.8
}

.tags div:hover{
  opacity: 1;
  cursor: pointer;
  height: 7vw;
  width: 14vw;
}
/* tags images*/
.tagOne{
  background-image: url('img/tags/tagOne.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 13vw;
  height: 6vw;
}

.tagTwo{
  background-image: url('img/tags/tagTwo.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 13vw;
  height: 6vw;
}

.tagThree{
  background-image: url('img/tags/tagThree.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 13vw;
  height: 6vw;
}

.tagFour{
  background-image: url('img/tags/tagFour.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 13vw;
  height: 6vw;
}

.tagFive{
  background-image: url('img/tags/tagFive.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 13vw;
  height: 6vw;
}

.tagSix{
  background-image: url('img/tags/tagSix.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 13vw;
  height: 6vw;
}
/*tags end*/
.threeDivPic{
  background-image: url('img/twitterbg.png');
  background-size: 100% 100%;
  height: 29.5vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.fa{
  font-size:36px;
  color:white;
  margin-bottom: 2vw;
}

.fa:hover{
  cursor: pointer;
  color:#0f967f;
}

.scrollDiv{
  color:white;
  height: 17.02vw;
  width: 92.70vw;
  overflow-y: scroll;
  font-size:1.4vw;
  display: flex;
  overflow-x: hidden;
  user-select: none;
}

.scrollDiv a{
  color:#0f967f;
}

.scrollOne{
  text-align: center;
  min-width: 28vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

footer{
  display: block;
  height: 30vw;
  background-color: #0f967f;
  display: flex;
  justify-content: center;
  padding-top: 3.57vw;
  color:white;
}

.footerTxt{
  width: 50vw;
  height: 26.42vw;
}

.footerTxt p{
  line-height: 1.3;
  margin-left: 11.78vw;
  font-size: 1.7vw;
}

.footerImg{
  background-image: url('img/footerImg.png');
  background-size: 100% 100%;
  width: 36.28vw;
  height: 26.42vw;
  margin-left: 4.71vw;
  margin-right: 8.92vw;
  padding-left: 2vw;
  padding-right: 2.85vw;
}

.footerImg h2{
  margin-top: 3.21vw;
  font-size: 2vw;
  font-weight: bold;
}

.footerImg p{
  line-height: 1.3;
  font-size: 1.7vw;
}

.footerImg button{
  position: relative;
  background-color: white;
  color:#0f967f;
  border-radius: 1vw;
  font-weight: bold;
  font-size: 2vw;
  width: 15.85vw;
  height: 3.92vw;
  margin-left: 50%;
  left:-7.43vw;
}


/*MEDIA FOR PORTRAIT (PHONE)*/
@media only screen and (orientation: portrait){
  #navBarDesktop{
    padding-left: 20.35%;
    padding-right: 20.35%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    display: none;
  }

  #navBarDesktop a{
    color:#0f967f;
    text-decoration: none;
    font-weight: 900;
    font-size: 4.8vw;
    margin-bottom: 2vw;
  }

  #navBarDesktop a:hover{
    text-decoration: underline;
  }

  #navBarMobile{
    display: block;
    min-height: 7vw;
    display: flex;
    justify-content: space-around;
  }

  #navBarMobile a{
    padding-top: 1vw;
    text-decoration: none;
    color:#0f967f;
    font-weight: bold;
    font-size: 4vw;
  }

  .search{
    background-image: url('img/Search.png');
    background-size: 100% 100%;
    height: 6vw;
    width: 8vw;
    cursor: pointer;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .bar1, .bar2, .bar3 {
      width: 10vw;
      height: 0.7vw;
      background-color: #0f967f;
      margin: 1vw 0;
      transition: 0.4s;
  }
  /*logo*/
  header{
    height: auto;
    width: 100%;
    overflow: hidden;
    min-height: 21.64vw;
    background-color: #0f967f;
  }

  header h1{
    margin: 0;
    margin-left: 0.71vw;
    margin-right: 0.5vw;
    font-size: 4vw;
    text-align-last: justify;
  }

  .logo{
    display: inline-block;
    position: relative;
    background-image: url('img/Logo.png');
    height: 20.07vw;
    width: 60vw;
    margin-left: 50vw;
    left: -30vw;
    margin-top: 2.5vw;
    background-size: 100% 100%;
  }

  .login{
    height: 5vw;
    color: white;
    position: relative;
    float: none;
    width: 40vw;
    display: block;
    margin-right: auto;
    margin-left: 50vw;
    left:-20vw;
    margin-top: 0.5vw;
    margin-bottom: 1vw;
  }

  .login button{
    display: none;
  }
  /*logo*/
  /*grid*/
  .sectionOne{
    height: 100vh;
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
  }
  .picOne{
    grid-row:1/2;
    grid-column: 1/2;
  }

  .picTwo{
    grid-row:2/3;
    grid-column: 1/2;
  }

  .picThree{
    grid-row:3/4;
    grid-column: 1/2;
  }

  .picFour{
    grid-row:4/5;
    grid-column: 1/2;
  }

  .sectionOne div{
    font-size: 4vw;
  }
  /*grid end*/

  .sectionRisk{
    font-size: 2.1vw;
    height: auto;
  }

  .sectionRisk h1{
    font-size: 5.5vw;
  }

  .sectionRisk p{
    font-size: 2.5vw;
  }

  .sectionRisk button{
    font-size: 4vw;
    padding: 1.5vw;
    height: auto;
    width: auto;
    margin-bottom: 2vw;
  }

  .scrollDiv{
    font-size:1.8vw;
    flex-direction: column;
    width: 50vw;
  }

}
